
.main{
  display: flex;
  flex-direction: column;
  text-align: center;

}
.navbar ul{
  display: flex;
  list-style: none;
  text-decoration: none;
  width: 100%;
  border: orange solid 1px;
  height: 10vh;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
}
ul li{
  border: 1px solid green;
  width: 100px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

}
.container div{
  border: yellow solid 1px;
  height: 30vh;
  width: 50vh;
  gap : 10px
}